* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu-lateral {
    width: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #333; 
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #0004ff;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral.expandir {
    width: 250px;
}

.btn-expandir { 
    width: 100%;
    padding-left: 9px;
}

.btn-expandir > i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu:hover {
    background-color: #02c6f9;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #02c6f9;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 20px;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #9ce2f3, #d7d8d6);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    
    text-align: center;
   
    color: rgb(0, 0, 0);
    padding: 20px 0;
}



#principal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    padding: 20px;
    width: 80%;
    background-color: #02c6f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="tel"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: #555;
}

.seccao {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 460px;
}

#scroll {
    overflow-y: scroll;
    height: 410px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid #000;
}

th, td {
    padding: 2px;
    text-align: left;
    font-size: 14px;
}
