* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #9ce2f3, #d7d8d6);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
}

.menu-lateral {
    width: 60px;
    height: 120vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #0004ff;
    overflow: hidden;
    transition: .2s;
}

.menu-lateral.expandir {
    width: 250px;
}

.btn-expandir {
    width: 100%;
    padding-left: 9px;
}

.btn-expandir > i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
    margin-left: -5px;
}

ul li.item-menu:hover {
    background-color: #02c6f9;
}

ul li.item-menu {
    transition: .2s;
}

ul li.ativo {
    background-color: #02c6f9;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    align-items: center;
}

ul li.item-menu a .txt-link {
    margin-left: 20px;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
}

header.cabecario figure img {
    width: 450px;
    margin-top: 20px;
}

main {
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: #fefffe;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    height: auto;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

#column1, #column2, #column3 {
    display: flex;
    flex-direction: column;
    width: 30%;
}

form h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

form label {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    font-weight: bold;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #000000;
    outline: none;
}

.just {
    height: 150px;
    resize: none;
    overflow-y: auto;
    font-size: 14px;
    text-align: start;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    align-self: center;
    transition: background-color 0.3s;
}

form button:hover {
    background: #555;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table, th, td {
    border: 2px solid #000000;
}

th, td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #f2f2f2;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

h2 {
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin: 20px 0;
}

.btn-fechar {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}